<h1>Cher-ify Your URL!</h1>

<table>
  <tr>
    <th>Long URL</th>
    <th>CHERIFY!</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @urls.each do |url| %>
  <tr>
    <td><%=link_to url.long_url, url.long_url %></td>
	<td><%=link_to root_url << url.appendage, url.long_url  %></td>
   <td><i><%= link_to 'SHOW ME THAT URL!', url %></i></td>
    <td><i><%= link_to 'EDIT THIS BEEZY', edit_url_path(url) %></i></td>
    <td><i><%= link_to 'FINISH IT!', url, method: :delete, data: { confirm: 'No, Sonny! NO!' } %></i></td>
  </tr>
<% end %>
</table>

<br />	

<%= link_to 'CHERIFY A New URL', new_url_path %>
<br \>
<br \>
<!-- <img src="http://1.bp.blogspot.com/_al02lqIIvZQ/TNAyUCUS0AI/AAAAAAAABLE/92pp_Yje_d8/s1600/cher-ss01.jpg" alt="CHER"/> -->
<iframe width="640" height="480" src="http://www.youtube.com/embed/mEszTzdUMcY?rel=0" frameborder="0" allowfullscreen></iframe>