<p id="notice"><%= notice %></p>

<p>
  <b>Long URL:</b>
  <%=link_to @url.long_url, @url.long_url %>
</p>
<p>
<b>Short URL</b>
<td><%=link_to root_url << @url.appendage, @url.long_url  %></td>
</p>

<%= link_to 'EDIT THIS BEEZY!', edit_url_path(@url) %> |
<%= link_to 'BACK IT UP!', urls_path %>
